@page "/unitMeasurement/list"
@inject IMediator Mediator

<PageTitle>Unit Measurement Management</PageTitle>

<h1>Unit Measurement Management</h1>

@if (model == null)
{
    <p><em>Loading...</em></p>
}
else if (!model.Success)
{
    <div class="alert alert-danger">
        @model.Message
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var unitMeasurement in model.Data!.UnitMeasurements)
            {
                <tr>
                    <td>@unitMeasurement.Name</td>
                    <td class="text-end">
                        <a href="" class="btn btn-sm btn-light">
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    ResponseModel<UnitMeasurementListModel>? model = null;

    protected override async Task OnInitializedAsync()
    {
        model = await Mediator.Send(new GetUnitMeasurementList(1, 10));
    }
}
